* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.2px;
}

.btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: 0 1rem 2rem rgba(130, 133, 133, 0.175) !important;
    outline: -webkit-focus-ring-color auto 0px !important;
}

.brand-color {
    color: #FF2D1A;
}

.main-titlee {
    line-height: 1.1;
    font-size: 88px;
    font-weight: 700;
}

.big-titlee {
    font-size: 5rem;
    font-weight: 700;
}

.call-btn {
    background: #000000;
    border-radius: 5px;
    color: white;
    /* border: 2px solid #ffffff; */
    /* outline: 3px solid #ff0000; */
    font-weight: 500;
    font-size: 20px;
}

.call-btn:hover {
    /* background-image: linear-gradient(106deg, #000000, rgb(107, 86, 86)); */
    background: #000000;
    color: white;
}

.reg-btn,
.reg-btn:hover {
    box-shadow: 0 1rem 2rem rgba(130, 133, 133, 0.175) !important;
}

.navbar-brand {
    color: black !important;
    font-weight: 800;
    height: 70px;
    margin-right: 0rem !important;
}

.nav-link {
    color: rgb(0, 0, 0) !important;
    font-weight: 500;
    font-size: 20px;
}

.nav-link:hover,
.nav-link-active {
    color: #000000 !important;
    text-decoration: underline #000000 !important;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.nav-link2 {
    color: rgb(104, 100, 100) !important;
    font-weight: 500;
    text-decoration: none;
}

.nav-link2:hover {
    color: rgb(0, 0, 0) !important;
    text-decoration: none;
}

.nav-link-active2 {
    color: #000000 !important;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    text-decoration-color: #000000;
}

.hero-text {
    height: 80vh;
    /* Set the height of the container to full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.width-mx {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.textt {
    font-size: 26px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    left: 50% !important;
    transform: translateX(-50%);
}

.hero-img {
    position: absolute;
    bottom: 0;
    right: 20px;
    height: 400px;
}

.work-hov {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.work-hov:hover {
    text-decoration: none;
    color: #FF2D1A;
    font-weight: 500;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
}

.client-img {
    object-fit: contain;
    width: 130px;
    height: 130px;
}

.client-img2 {
    object-fit: contain;
    width: 170px !important;
    height: 230px !important;
}

.clients {
    padding: 12px 0;
    text-align: center;
}

.clients img {
    transition: all 0.3s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    filter: grayscale(100);
}

.clients img:hover {
    filter: none;
    transform: scale(1.1);
}

.afte {
    position: relative;
    display: block;
    transition: all 0.3s;
}

.afte::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 21;
    background-image: linear-gradient(200deg, rgba(219, 215, 215, 0), #0000002d);
}

.afte:hover {
    transform: scale(1.04);
}

.img-text {
    color: #000000;
    font-weight: normal;
    font-size: 1.2rem;
    padding-top: 5px;
    text-align: center;
}

.rounded-mine {
    border-radius: 10px;
}

.homebaba {
    font-size: 2.5rem !important;
    letter-spacing: 3px !important;
}

.leaf-img {
    width: 35px;
}

.call-btn-img {
    width: 200px;
}

.fields {
    width: 100%;
    padding: 1.5rem 1.5rem;
    border: none;
    border-radius: 8px;
    background-color: #f1f3fa;
}

.foot-up-img {
    padding-top: 100px;
    margin-bottom: -5px;
    overflow: hidden;
    width: 100%;
}

.cnt-img {
    height: 320px;
    object-fit: contain;
    width: 100%;
}

.sm-text {
    font-size: 12px;
}

.mybot {
    margin-bottom: 5px !important;
}

.dolphy {
    height: 200px !important;
}

.imghei2 {
    width: 100%;
    height: 400px;

}


.word-container {
    position: relative;
    text-align: center;
}

.word {
    position: absolute;
    opacity: 0;
    font-size: 2em;
    animation: fadeZoom 3s ease-in-out forwards;
    font-weight: 900;
    color: #000000;
    white-space: normal;
}

#word1 {
    animation-delay: 0s;
}

#word2 {
    animation-delay: 3s;
}

#word3 {
    animation-delay: 6s;
}

#word4 {
    animation-delay: 9s;
}

#word5 {
    animation-delay: 12s;
}

@keyframes fadeZoom {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    10% {
        opacity: 1;

    }

    50% {
        opacity: 1;
        transform: scale(1.5);
    }

    100% {
        opacity: 0;
        transform: scale(5);
    }
}

@keyframes revealAll {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }
}

.word-container:after {
    content: "EMPATHY. CLARITY. PURPOSE. SIMPLICITY. HUMANCENTRIC ";
    position: relative;
    opacity: 0;
    /* Initial opacity set to 0 to start */
    font-size: 2em;
    color: #000000;
    font-weight: 800;
    animation: revealText 3s ease-in-out forwards;
    animation-delay: 15s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.word-container:before {
    content: "";
    position: absolute;
    top: calc(-129% - 7px);
    left: 100%;
    transform: translateX(-24%);
    background-image: url(../images/shadow-walk.gif);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    opacity: 0;
    animation: revealImage 1s ease-in-out forwards;
    animation-delay: 16s;
}

@keyframes revealText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes revealImage {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@media (max-width: 768px) {
    .word-container {
        text-align: center;
    }

    .word {
        font-size: 1em;
        /* Adjust font size for smaller screens */
        position: absolute;
        opacity: 0;
        animation: fadeZoom 3s ease-in-out forwards;
        font-weight: 900;
        color: #000000;
        white-space: normal;
    }

    #word1 {
        animation-delay: 0s;
    }

    #word2 {
        animation-delay: 3s;
    }

    #word3 {
        animation-delay: 6s;
    }

    #word4 {
        animation-delay: 9s;
    }

    #word5 {
        animation-delay: 12s;
    }

    @keyframes fadeZoom {
        0% {
            opacity: 0;
            transform: scale(1);
        }

        10% {
            opacity: 1;
        }

        50% {
            opacity: 1;
            transform: scale(1.5);
            /* Adjust scale for smaller screens */
        }

        100% {
            opacity: 0;
            transform: scale(3);
            /* Adjust scale for smaller screens */
        }
    }

    .word-container:after {
        content: "EMPATHY. CLARITY. PURPOSE. SIMPLICITY. HUMANCENTRIC ";
        position: relative;
        opacity: 0;
        font-size: 1.5em;
        line-height: 2;
        /* Adjust font size for smaller screens */
        color: #000000;
        font-weight: 800;
        animation: revealText 3s ease-in-out forwards;
        animation-delay: 15s;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
    }

    .word-container:before {
        content: "";
        position: absolute;
        top: calc(-119% - 7px);
        left: 46%;
        transform: translateX(-39%);
        background-image: url(../images/shadow-walk.gif);
        background-size: contain;
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
        /* Adjust height for smaller screens */
        opacity: 0;
        animation: revealImage 1s ease-in-out forwards;
        animation-delay: 16s;
    }

    @keyframes revealText {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes revealImage {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .main-titlee {
        line-height: 1.1;
        font-size: 50px !important;
        font-weight: 700;
    }

    .hero-img {
        height: 350px;
        display: flex;
        padding-top: 40px;
        justify-content: center !important;
        text-align: center;
        position: relative;
    }

    .hero-text {
        height: 30vh;
        margin-top: 5rem !important;
        margin-bottom: 0;
    }

    .homebaba {
        font-size: 2.5rem !important;
        letter-spacing: 3px !important;
    }

    .leaf-img {
        width: 50px;
    }

    .navbar-brand {
        height: 80px;
        margin-right: 0rem !important;
    }

    .navbar-brand-sm {
        height: 100px;
    }

    .foot-up-img {
        padding-top: 80px;
        margin-bottom: -5px;
        overflow: hidden;
        width: 100%;
    }

    .center-sm {
        text-align: center;
    }

    .small-text {
        padding-left: 5px;
        padding-right: 5px;
    }

    .call-btn-img {
        width: 150px;
    }

    .big-titlee {
        font-size: 42px;
        font-weight: 700;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        right: 0 !important;
        transform: translateX(0);
    }

    .dolphy {
        height: 100px !important;
    }
}